@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* HTML: <div class="loader"></div> */
body.ar{
  direction: rtl;
  transition: 0.5s linear;
}
.loader {
    width: 20px;
    aspect-ratio: 1;
    background: #ef4444;
    box-shadow: 0 0 0 0 #ef4444;
    animation: l2 1.5s infinite linear, fade-out 2s ease 1 forwards;
    position: relative;
    transition: 1s all ease;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #ef4444;
    animation: inherit;
    animation-delay: -0.5s;
    transition: 1s all ease;
  }
  .loader:after {
    animation-delay: -1s;
    transition: 1s all ease;
  }
  @keyframes l2 {
      100% {box-shadow: 0 0 0 40px #fd313136}
  }

  @keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

body.ar .banner_SectionMain{
  margin-right: 5%;
}
body.ar .banner_img{
  transform: scaleX(-1);
  right: 34rem !important;
}
body.ar .banner_car{
  transform: scaleX(-1);
}
body.ar .en_icon{
  margin-left: 10px;
  margin-right: 0px !important;
}
body.ar .ar_icon{
  margin-left: 10px;
  margin-right: 0px !important;
}
body.ar .ar_banner{
  text-align: right;
}
body.ar *{
  text-align: right ;
}
body.ar .ar_pagination ul li a{
  text-align: center !important;
}
body.ar .ar_footer{
  /* border-right-width: 4px; */
  border: none;
  padding-right: 0.75rem;
  border-right: 4px solid #ef4444;
}
body.ar .ar_text_center{
  text-align: center;
}
body.ar .ar_img{
  margin-right: 0px;
}

body.ar button.ant-pagination-item-link span.anticon-left{
  rotate: 180deg !important;
}

body.ar button.ant-pagination-item-link span.anticon-right{
  rotate: 180deg !important;
}

body.ar li.ant-pagination-item a{
  text-align: center !important;
}

body.ar div.footer_Quick div.container{
 text-align: center !important;
}

.ant-modal-content {
  background-color: #f2f6fa !important;
  padding: 0 !important;
}
.ant-modal-footer{
  position: absolute;
  bottom: 10px;
  right: 10px;
  
}

.ant-modal-footer button.ant-btn{
  display: none;
}


body.ar div.footer_contact_data ul li{
  display: flex !important;
  flex-direction: row !important;
  justify-content: start !important;
  text-align: right !important;
}

body.ar div.footer_contact_data ul li.number_contact a{
  direction: ltr !important;
}