@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
  width: 8px !important;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #444 !important;
  border-radius: 4px !important;
}

.journey_BannerBack {
  background-image: url("../../src/public/assets/backdrop_two.png");
}

.footer__Cardback {
  background-image: url("../../src/public/assets/footer_back.png");
}

.aboutus__Back {
  background-image: url("../../src/public/assets/aboutus.jpg");
}

.footer__LowerBack {
  background-image: url("../../src/public/assets/footer_lowerback.jpg");
}

#CardTwo {
  flex-direction: row-reverse;
}


.banner_Section::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000000b7;
  z-index: 2;
}

/* a.link_active {
  border: 1px solid red;
  color: red;
} */

@media only screen and (max-width: 400px) {
  #CardTwo {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #CardOne {
    padding: 10px;
  }

  #CardThree {
    padding: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  #CardTwo {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #CardOne {
    padding: 10px;
  }

  #CardThree {
    padding: 10px;
  }

  a img.logo_brandTop {
    width: 200px !important;
  }

  body.ar div.text_area div.home_blog_container h4 {
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: -20px;
  }
}

/* @media only screen and (max-width: 100){
  a img.logo_brandTop{
    width: 200px !important;
  }
} */

.clip-triangle {
  clip-path: polygon(100% -50%, 100% 200%, 0% 100%);
  rotate: 0deg;
}

.clip-triangle-2 {
  clip-path: polygon(100% -50%, 100% 200%, 0% 100%);
}

.clip-triangle-3 {
  clip-path: polygon(100% -50%, 100% 200%, 0% 100%);
}

/* Pagination style */

div.ant-select-selector {
  display: none !important;
}

span.ant-select-arrow {
  display: none !important;
}

li.ant-pagination-item-active {
  background: #ef4444 !important;
  border: none !important;
}

li.ant-pagination-item:hover {
  background: #1f2937 !important;
  border: none !important;
}

li.ant-pagination-item:hover a {
  color: #fff !important;
}

li.ant-pagination-item-active a {
  color: #fff !important;
}

/* Rectangle 42 */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Carousel Indicators Next/Prev */
button.slick-arrow {
  color: #000 !important;
}

button.slick-arrow.slick-disabled {
  color: #2c2c2c !important;
}